#about {
  height: 100vh;
  background-image: linear-gradient(
      rgba(10, 5, 49, 0.85),
      rgba(10, 5, 49, 0.85)
    ),
    url("../../../public/img/Rectangle\ 5800.png");
  padding-top: 150px;
  padding-left: 200px;
}
.top--1 {
  top: -32px;
  left: 35px;
}
.left-1 {
  top: 5px;
  left: 100px;
}
.left-2 {
  top: 10px;
  left: 120px;
}
.bottom--1 {
  bottom: -10px !important;
}

.image-1 {
  transform: rotate(3.13deg);
  width: 80%;
}
.image-3 {
  transform: rotate(-4.9deg);
  width: 80%;
  top: 10px;
  left: 120px;
}

@media screen and (max-width: 700px) {
  #about {
    padding-left: 0px;
  }
}
